.heading {
    display: flex;
    padding: 20px;
}

.heading button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.heading_nombre,
.heading_aFavor,
.heading_enContra,
.heading_abstenciones {
    flex: 4;
    color: var( --text-color-secondary);
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_nombre {
    justify-content: flex-start;
}

.heading_arrow {
   color: var(--primary-color);

   display: flex;
   justify-content: center;
   align-items: center;

   margin-left: 2px;
}

.row {
    display: flex;
    padding: 20px;

    text-align: center;

    background-color: var(--background-color-light);
    border-radius: 8px;
    margin-bottom: 16px;

    box-shadow: var(--box-shadow);
    font-weight: 500;

    transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.row:hover {
   transform: translateY(-4px); 
   box-shadow: 0px 4px 16px rgba(0,0,0,0.1)
}

.name {
    flex: 4;
    text-align:left ;
}

.population {
    flex: 4;
}

.region {
    flex: 4;
}

.capital {
    flex: 4;
}

@media screen and (max-width: 720px) {
    .region,
    .heading_enContra {
        display:none;
    }
    .capital,
    .heading_abstenciones {
        display:none;
    }
}